
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_4.xml
.idea/libraries/Maven__com_github_ben_manes_caffeine_caffeine_2_8_8.xml
.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
.idea/libraries/Maven__com_sun_xml_bind_jaxb_core_2_3_0.xml
.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_3_3.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
.idea/libraries/Maven__org_apache_camel_camel_api_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_base_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_base_engine_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_bean_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_browse_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_caffeine_lrucache_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_cloud_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_cluster_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_controlbus_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_core_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_core_catalog_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_core_engine_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_core_languages_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_core_model_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_core_processor_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_core_reifier_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_core_xml_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_dataformat_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_dataset_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_direct_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_directvm_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_file_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_health_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_language_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_log_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_main_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_management_api_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_mock_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_ref_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_rest_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_saga_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_scheduler_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_seda_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_spring_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_stub_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_support_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_timer_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_tooling_model_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_util_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_util_json_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_validator_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_vm_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_xml_jaxb_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_xml_jaxp_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_xpath_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_camel_xslt_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_springboot_camel_core_starter_3_7_1.xml
.idea/libraries/Maven__org_apache_camel_springboot_camel_spring_boot_3_7_1.xml
.idea/libraries/Maven__org_apache_commons_commons_csv_1_5.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_11.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_41.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_41.xml
.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_18.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_4_2.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_4_2.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_4_2.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_4_2.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_4_2.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_4_2.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_4_2.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_4_2.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_3_3.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_3_3.xml
.idea/libraries/Maven__org_springframework_spring_context_5_3_3.xml
.idea/libraries/Maven__org_springframework_spring_core_5_3_3.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_3_3.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_3_3.xml
.idea/libraries/Maven__org_springframework_spring_tx_5_3_3.xml
.idea/libraries/Maven__org_springframework_spring_web_5_3_3.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_3.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_27.xml
target/backend-imc-rest-v1-1.0-SNAPSHOT.jar
target/classes/br/com/microservico/imc/config/IMC.class
target/classes/br/com/microservico/imc/controller/IMCController.class
target/classes/config/application.properties
target/classes/config/logback-spring.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
.idea/misc.xml
.idea/modules.xml
.idea/MS-B-IMC.iml
.idea/vcs.xml
*.class
*.original
.idea/encodings.xml
